@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

/* ---- layout ---- */

html,
body {
  height: 100%;
}

.container {
  margin: 0 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 750;
    max-height: 1202;
    margin: 0 auto;
  }
}

/* GAME ELEMENTS */
.game {
  text-align: center;
  height: 9%;
}

.game header {
  height: 30px;
  display: flex;
  align-items: center;
}

.game .lives {
  flex: 1;
}

.game .score {
  flex: 1;
}

.game .label {
  font-weight: bold;
}

.game .value {
  font-style: bold;
}

.game .canvas-container {
  flex: 1;
}

/* SPLASH SCREEN */

.splash-div {
  background-color: #4f4e4e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-div h1 {
  font-size: 150px;
  color: orangered;
}

.splash-div button {
  border-radius: 10px;
  margin: 100px;
  padding: 20px 20px;
  font-size: 4rem;
  background-color: orangered;
  border-style: none;
  width: 500px;
  color: black;
  font-weight: 700;
}

.splash-square {
  color: whitesmoke;
  padding: 40px;

  border-radius: 10px;
  width: 70%;
  text-align: center;
  font-size: 2rem;
}

.splash-square h3 {
  padding: 10px;
  text-decoration: underline;
  font-size: 5rem;
}

.splash-square p {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  font-size: 25px;
}

/* GAMEOVER */
.game-over-div {
  background-color: #4f4e4e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-over-div h1 {
  font-size: 150px;
  color: orangered;
}

.game-over-div button {
  border-radius: 10px;
  margin: 100px;
  padding: 20px 30px;
  font-size: 4rem;
  background-color: orangered;
  border-style: none;
  width: 500px;
  color: black;
  font-weight: 700;
}

.game-over-square h3 {
  padding: 20px;
  text-decoration: underline;
  font-size: 5rem;
}

.game-over-square p {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 10px;
}

.game-over-square {
  padding-bottom: 40px;
  width: 50%;
  text-align: center;
}

canvas {
  border: 10px solid black;
  border-radius: 10px;
}

.game.container {
  background-color: #4f4e4e;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game.container .lives,
.game.container .score {
  font-size: 5rem;
  text-transform: uppercase;
}
